<h1>Coupon Form</h1>
<%= form_tag coupons_path do %>
    <%= text_field_tag :'coupon[coupon_code]', nil, placeholder: 'Coupon Code'%><br>
    <%= text_field_tag :'coupon[store]', nil, placeholder: 'Store'%><br><br>
    <%= submit_tag 'Submit Coupon' %>
<% end %>
